.container6 {
    display: flex;
    align-items: center;
  }
  
  
  
  .image5 img {
    height: 100%;
    width: 100%;
  }
  
  .home-intro {
    width: 83%;
    height: auto;
  }
  
  .home-intro span {
    color: #bf0a30;
    font-size: 13px;
    font-weight: bold;
  }
  
  .home-intro h2 {
    font-weight: 700;
  }
  
  .home-intro1 {
    width: 83%;
    height: auto;
  }
  
  .home-intro1 p {
    color: rgb(160, 160, 160);
  }
  
  .home-intro1 h5 {
    font-family: "brush Script MT";
    font-style: italic;
    font-weight: 400;
    font-size: 29px;
    color: rgb(115, 115, 115);
  }
  
  .home-box {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .home-box1 {
    height: 250px;
    width: 300px;
  }
  
  .home-box2 {
    height: 250px;
    width: 300px;
  }
  
  .box-icon {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #bf0a30;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    margin-bottom: 10px;
  }
  
  
  .box-icon:hover {
    background-color: black;
  }
  
  .home-box1 button {
    padding: 10px;
    border-radius: 8px;
  }