.container7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .header p {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .header h4 {
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
  }
  
  .line {
    width: 100px;
    height: 5px;
    background-color: #d9534f;
    margin-bottom: 30px;
  }
  
  .ministries {
    display: flex;
    width: 65%;
    height: 700px;
    gap: 25px;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
  
  .ministry {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-bottom: 4px solid #bf0a30;
    margin-bottom: 20px;
  }
  
  .ministry-image {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
  
  .ministry-image-overlay {
    height: 200px;
    width: 100%;
    display: flex;
    border-radius: 8px;
    background: rgba(234, 61, 61, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s ease-in-out;
    position: relative;
    bottom: 220px;
  }
  
  .ministry-image-overlay:hover {
    opacity: 1;
  }
  
  .line1 {
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    height: 47%;
    width: 1px;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .line2 {
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    height: 25%;
    width: 1px;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(90deg);
  }
  
  .ministry img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
  }
  
  .ministry h5 {
    padding: 15px 15px;
    font-weight: 700;
  }
  
  .ministry p {
    padding-left: 15px;
    color: rgb(144, 144, 144);
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .ministry button {
    background-color: transparent;
    color: #bf0a30;
    padding: 10px 20px;
    border: none;
    text-decoration: 2px underline;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
  }
  
  .ministry button:hover {
    color: black;
    background-color: transparent;
  }